:root{
    overflow-x: hidden !important;
    overscroll-behavior-x: none;
}

body{
    background: #f2f2f2;
    background: linear-gradient(-100deg, #f2f2f2 0%, #eeeeee 100%);

    margin:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scroll-behavior: smooth;
    overflow-x: hidden !important;
    overscroll-behavior-x: none;
}#main-page{
    width:100vw;
    height: 100vh;
    background: #f2f2f2;
    background: linear-gradient(-100deg, #f2f2f2 0%, #eeeeee 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CUSTOM ATTR */
.spinning-ring{
    position: absolute;

    background-color: transparent;
    border: 6px solid;
    border-radius: 999rem;
    width: 5rem;
    height: 5rem;

    transform-style: preserve-3d;
    perspective: 75rem;

    shape-rendering: crispEdges;
    transition: opacity 0ms cubic-bezier(0.260, 0.050, 0.250, 1.000); /* custom */
    transition-delay: 200ms;
} #ring-check{
    position: absolute;
    top:0;
    transform: scale(0.45) translate(0.45rem, 0);
    pointer-events: none;    
}